<h1>administrator</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview" *ngFor="let article of articles">
                <a [routerLink]="['/articles', article.id]" >
                    <h2 class="post-title">
                        {{article.title}}
                    </h2>
                    <h3 class="post-subtitle">
                        {{article.subtitle}}
                    </h3>
                </a>
                <p class="post-meta">Опубліковано <a href="#">{{article.author}}</a>
                    {{article.created | date: 'dd/MM/yyyy'}}
                </p>
            </div>
            <hr>
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Попередні публікації &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<hr>