<p-growl [value]="resMessages" sticky="sticky"></p-growl>
<h1 class="first">Створити статтю</h1>

<h3 class="first">Заголовок</h3>
<input  type="text" size="30" pInputText [(ngModel)]="newArticle.title" />

<h3 class="first">Підзаголовок</h3>
<input  type="text" size="30" pInputText [(ngModel)]="newArticle.subtitle" />

<h3 class="first">Автор</h3>
<input  type="text" size="30" pInputText [(ngModel)]="newArticle.author" />

<p-editor [(ngModel)]="newArticle.content" [style]="{'height':'320px'}"></p-editor>

<button pButton type="button" (click)="createArticle()" label="Створити"></button>