<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        Отці Християни
                    </h2>
                    <h3 class="post-subtitle">
                        Цього року відбулась всеукраїнська зустріч Отців Згромадження Воплоченого Слова
                    </h3>
                </a>
                <p class="post-meta">Опубліковано <a href="#">О. Йосафат Бойко</a> Вересень 24, 2014</p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        Отці Християни
                    </h2>
                    <h3 class="post-subtitle">
                        Цього року відбулась всеукраїнська зустріч Отців Згромадження Воплоченого Слова
                    </h3>
                </a>
                <p class="post-meta">Опубліковано <a href="#">О. Йосафат Бойко</a> Вересень 24, 2014</p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        Отці Християни
                    </h2>
                    <h3 class="post-subtitle">
                        Цього року відбулась всеукраїнська зустріч Отців Згромадження Воплоченого Слова
                    </h3>
                </a>
                <p class="post-meta">Опубліковано <a href="#">О. Йосафат Бойко</a> Вересень 24, 2014</p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        Отці Християни
                    </h2>
                    <h3 class="post-subtitle">
                        Цього року відбулась всеукраїнська зустріч Отців Згромадження Воплоченого Слова
                    </h3>
                </a>
                <p class="post-meta">Опубліковано <a href="#">О. Йосафат Бойко</a> Вересень 24, 2014</p>
            </div>
            <hr>
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Попередні публікації &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<hr>